<h1 style= 'color: cornflowerblue'>SQL Exercises</h1>

<p>For the exercises below, access the SQL training environment from W3Schools: W3Schools SQL Training</p>
<a href = "https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_distinct2">SQL-Try</a>

<h2 style= 'color: cornflowerblue'>01</h2>
<p>Retrieve all customers with all columns (Customers table).</p>

In [ ]:
"""
SELECT * 
FROM Customers;
"""

<h2 style= 'color: cornflowerblue'>02</h2>
<p>Retrieve all products with all columns (Products table).</p>

In [ ]:
"""
SELECT *
FROM Products;
"""

<h2 style= 'color: cornflowerblue'>03</h2>
<p>Retrieve all customers with CustomerID, CustomerName, and Country (Customers table).</p>
<p></p>

In [ ]:
"""
SELECT CustomerID, CustomerName, Country
FROM Customers;
"""

<h2 style= 'color: cornflowerblue'>04</h2>
<p>Retrieve all customers from the city of São Paulo with all columns (Customers table).</p>

In [ ]:
"""
SELECT *
FROM Customers
WHERE City = 'São Paulo;'
"""

<h2 style= 'color: cornflowerblue'>05</h2>
<p>Retrieve products that have "Guaraná" in the description with all columns (Products table).</p>

In [ ]:
"""
SELECT * 
FROM Products
WHERE ProductName LIKE "%Guaraná%";
"""

<h2 style= 'color: cornflowerblue'>06</h2>
<p>Retrieve all customers from the city of São Paulo who have contact with a name 'Pedro' (Customers table).</p>

In [ ]:
"""
SELECT *
FROM Customers
WHERE City = "São Paulo" AND ContactName LIKE "%Pedro%";
"""

<h2 style= 'color: cornflowerblue'>07</h2>
<p>Retrieve all customers with CustomerID, CustomerName, and Country, ordering ascending by country.</p>

In [ ]:
"""
SELECT CustomerID, CustomerName, Country
FROM Customers
ORDER BY Country;
"""

<h2 style= 'color: cornflowerblue'>08</h2>
<p>Retrieve all customers with CustomerID, CustomerName, and Country, ordering descending by country.</p>

In [ ]:
"""
SELECT CustomerID, CustomerName, Country
FROM Customers
ORDER BY Country DESC;
"""

<h2 style= 'color: cornflowerblue'>09</h2>
<p>Retrieve the number of customers from each country. The result should have the country name and the quantity of customers (Customers table).</p>

In [ ]:
"""
SELECT Country, COUNT(*) as CountryCount
FROM Customers
GROUP BY Country;
"""

<h2 style= 'color: cornflowerblue'>10</h2>
<p>Retrieve the number of customers from each country. The result should have the country name and the quantity of customers in descending order of the number of customers (Customers table).</p>

In [ ]:
"""
SELECT Country, COUNT(*) as CountryCount
FROM Customers
GROUP BY Country
ORDER BY COUNT(*) DESC;
"""

<h2 style= 'color: cornflowerblue'>11</h2>
<p>Retrieve the number of customers from each country for countries with at least 4 customers. The result should have the country name and the quantity of customers in descending order of the number of customers (Customers table).</p>

In [ ]:
"""
SELECT Country, COUNT(*) as CountryCount
FROM Customers
GROUP BY Country
HAVING COUNT(*) >= 4
ORDER BY COUNT(*) DESC;
"""

<h2 style= 'color: cornflowerblue'>12</h2>
<p>Retrieve customers whose countries start with the letter A (Customers table).</p>

In [ ]:
"""
SELECT CustomerName, Country
FROM Customers
WHERE Country LIKE "A%";
"""

<h2 style= 'color: cornflowerblue'>13</h2>
<p>Retrieve customers whose countries have the second letter A (Customers table).</p>

In [ ]:
"""
SELECT CustomerName, Country
FROM Customers
WHERE Country LIKE "_A%";
"""

<h2 style= 'color: cornflowerblue'>14</h2>
<p>Retrieve customers whose countries start with the letter A, B, or C (Customers table).</p>

In [ ]:
"""
SELECT * 
FROM Customers
WHERE Country LIKE "[ABC]%";
"""

<h2 style= 'color: cornflowerblue'>15</h2>
<p>Retrieve order numbers, first and last names of employees who made each order (Employees and Orders tables).</p>

In [ ]:
"""
SELECT OrderId, FirstName, LastName
FROM Orders LEFT JOIN Employees ON 
    Orders.EmployeeID = Employees.EmployeeID
ORDER BY FirstName;
"""

<h2 style= 'color: cornflowerblue'>16</h2>
<p>Retrieve names of all products and their respective categories (Products and Categories tables).</p>

In [ ]:
"""
SELECT ProductName, CategoryName
FROM Products LEFT JOIN Categories ON
	Products.CategoryID = Categories.CategoryID;
"""

<h2 style= 'color: cornflowerblue'>17</h2>
<p>Retrieve order IDs with the names and phones of shippers (Orders and Shippers tables).</p>

In [ ]:
"""
SELECT OrderID, ShipperName, Phone
FROM Orders LEFT JOIN Shippers ON
	Orders.ShipperID = Shippers.ShipperID;
"""

<h2 style= 'color: cornflowerblue'>18</h2>
<p>Retrieve the quantity of orders for each of the employees. The result should have the employee's name and the quantity of orders. Even employees with no orders should be in the result (Orders and Employees tables).</p>

In [ ]:
"""
SELECT FirstName, COUNT(Orders.EmployeeID) as OrderCount
FROM Employees LEFT JOIN Orders ON
	Employees.EmployeeID = Orders.EmployeeID
GROUP BY FirstName;
"""

<h2 style= 'color: cornflowerblue'>19</h2>
<p>Retrieve names of products that never had any orders (Products and OrderDetails tables).</p>

In [ ]:
"""
SELECT ProductName, COUNT(OrderDetails.ProductID) as OrderCount
FROM Products LEFT JOIN OrderDetails ON
	Products.ProductID = OrderDetails.ProductID
GROUP BY ProductName
HAVING COUNT(OrderDetails.ProductID) = 0;
"""

<h2 style= 'color: cornflowerblue'>20</h2>
<p>Retrieve the quantity of customers in the customers table (Customers table).</p>

In [ ]:
"""
SELECT COUNT(*) as CustomerCount
FROM Customers;
"""

<h2 style= 'color: cornflowerblue'>21</h2>
<p>Retrieve the quantity of countries in the customers table (Customers table).</p>

In [ ]:
"""
SELECT COUNT(Country) as CountryCount
FROM (
    SELECT DISTINCT (Country) 
    FROM Customers
    );
"""

<h2 style= 'color: cornflowerblue'>22</h2>
<p>Calculate the average of product prices (Products table).</p>

In [ ]:
"""
SELECT AVG(Price) as AveragePrice
FROM Products;
"""

<h2 style= 'color: cornflowerblue'>23</h2>
<p>Retrieve the highest and lowest product prices.</p>

In [ ]:
"""
SELECT MAX(Price) as MaxPrice, MIN(Price) as MinPrice
FROM Products;
"""

<h2 style= 'color: cornflowerblue'>24</h2>
<p>Retrieve the number of customers from each country. The result should have the country name and the quantity of customers in descending order of the number of customers (Customers table).</p>

In [ ]:
"""
SELECT Country, COUNT(*) as NumberCustomers
FROM Customers
GROUP BY Country
ORDER BY COUNT(*) DESC;
"""

<h2 style= 'color: cornflowerblue'>25</h2>
<p>Retrieve the number of customers from each country for countries with at least 4 customers. The result should have the country name and the quantity of customers in descending order of the number of customers (Customers table).</p>

In [ ]:
"""
SELECT Country, COUNT(*) as NumberCustomers
FROM Customers
GROUP BY Country
HAVING COUNT(*) >= 4
ORDER BY COUNT(*) DESC;
"""

<h2 style= 'color: cornflowerblue'>26</h2>
<p>Retrieve order numbers, first and last names of employees who made each order (Employees and Orders tables).</p>

In [ ]:
"""
SELECT OrderID, FirstName, LastName
FROM Orders LEFT JOIN Employees ON
	Orders.EmployeeID = Employees.EmployeeID;
"""

<h2 style= 'color: cornflowerblue'>27</h2>
<p>Retrieve names of all products and their respective categories (Products and Categories tables).</p>

In [ ]:
"""
SELECT ProductName, CategoryName
FROM Products INNER JOIN Categories ON
	Products.CategoryID = Categories.CategoryID;
"""

<h2 style= 'color: cornflowerblue'>28</h2>
<p>Retrieve order IDs with the names and phones of shippers (Orders and Shippers tables).</p>

In [ ]:
"""
SELECT OrderID, ShipperName, Phone
FROM Orders INNER JOIN Shippers ON
	Orders.ShipperID = Shippers.ShipperID;
"""

<h2 style= 'color: cornflowerblue'>29</h2>
<p>Retrieve the quantity of orders for each of the employees. The result should have the employee's name and the quantity of orders. Even employees with no orders should be in the result (Orders and Employees tables).</p>

In [ ]:
"""
SELECT FirstName, COUNT(OrderID) as OrderCount
FROM Employees LEFT JOIN Orders ON
	Employees.EmployeeID = Orders.EmployeeID
GROUP BY FirstName;
"""

<h2 style= 'color: cornflowerblue'>30</h2>
<p>Retrieve order numbers, first and last names of employees whose names start with 'A'. Use a subquery as the employees table with the letter A (Employees and Orders tables).</p>

In [ ]:
"""
SELECT OrderID, Firstname, LastName
FROM	(
		SELECT * 
		FROM Employees 
        WHERE FirstName LIKE "A%"
        )
        Employees LEFT JOIN Orders ON 
        	Employees.EmployeeID = Orders.EmployeeID;
"""

<h2 style= 'color: cornflowerblue'>31</h2>
<p>Retrieve order numbers, first and last names of employees whose names start with 'A'. Use the WITH command as a temporary table of employees with the letter A (Employees and Orders tables).</p>

In [ ]:
"""
WITH EmployeesA AS (SELECT * FROM Employees WHERE FirstName LIKE "A%")

SELECT OrderID, FirstName, LastName
FROM EmployeesA LEFT JOIN Orders ON
	EmployeesA.EmployeeID = Orders.EmployeeID;
"""