<h1 style="color:cornflowerblue">Numeric Types</h1>
<p>Float and Int are basic numeric types. Let's check some other types:</p>

In [1]:
# Boolean is numeric
num_bool = True
num_bool

True

In [2]:
num_bool * 3, num_bool+num_bool

(3, 2)

In [3]:
# Representing fractions
from fractions import Fraction

fract_1 = Fraction(1, 5)
fract_1

Fraction(1, 5)

In [4]:
# Convert to float
float(fract_1)

0.2

In [5]:
fract_2 = Fraction(1,3)
fract_2

Fraction(1, 3)

In [6]:
# Auto sum both fractions
fract_1 + fract_2

Fraction(8, 15)

In [7]:
# Auto simplify the fractions
Fraction(2,4)

Fraction(1, 2)

In [8]:
# Finds the closest numbers to create the specified number
Fraction(0.58)

Fraction(5224175567749775, 9007199254740992)

In [9]:
5224175567749775 / 9007199254740992

0.58

In [10]:
# Limiting the denominator
from math import pi
pi

3.141592653589793

In [11]:
Fraction(pi).limit_denominator(200)

Fraction(355, 113)

In [12]:
355/113

3.1415929203539825

In [13]:
# Float are not exact numbers
x = 0.1
y = 1/10

x == y

True

In [14]:
x = 0.3

f'{x:.05f}'

'0.30000'

In [15]:
f'{x:.30f}'

'0.299999999999999988897769753748'

In [16]:
y = 10.1

f'{y:.30f}'

'10.099999999999999644728632119950'

In [17]:
# Decimal tries to mitigate this behaviour
import decimal
from decimal import Decimal

In [18]:
# Showing some context that can be edited
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [19]:
Decimal(y)

Decimal('10.0999999999999996447286321199499070644378662109375')

In [22]:
decimal.getcontext().rounding = decimal.ROUND_HALF_UP

In [23]:
decimal.getcontext().prec = 6

In [24]:
y_value = Decimal(y)
y_value

Decimal('10.0999999999999996447286321199499070644378662109375')

In [25]:
multip = Decimal(10e20)

f'{y_value * multip:.02f}'

'10100000000000000000000.00'

<h1 style="color:cornflowerblue">Collections</h1>
<p>Sequence: list, tupe, string</p>
<p>Sets: set, frozen set</p>
<p>Mapping: dict</p>

In [31]:
# Setting a list
list_1 = [1,2,3]
list_1

[1, 2, 3]

In [32]:
# Object type
type(list_1)

list

In [33]:
# value by index
list_1[0]

1

In [34]:
# delettng by index
del list_1[0]

list_1

[2, 3]

In [35]:
# Setting tuple
tuple_1 = (1,2,3)

tuple_1

(1, 2, 3)

In [38]:
# value by index
tuple_1[0]

1

In [39]:
# delettng by index
# Tuples do not support item deletion
del tuple_1[0]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
# setting a string
word = "studyingpython"
word

'studyingpython'

In [41]:
# value by index
word[0]

's'

In [42]:
# setting a set
set_1 = {1,2,2,2}
set_1

{1, 2}

In [43]:
# adding a new element
set_1.add(3)
set_1

{1, 2, 3}

In [44]:
# setting a frozen set
set_frozen = frozenset(set_1)
set_frozen

frozenset({1, 2, 3})

In [45]:
set_frozen.add(4)
set_frozen

AttributeError: 'frozenset' object has no attribute 'add'

In [46]:
# Tuples are immutable, but what if a list is one element of a tuple?
tuple_2 = (list_1, "word1", "word2")
tuple_2

([2, 3], 'word1', 'word2')

In [47]:
list_1.append(4)

In [48]:
tuple_2

([2, 3, 4], 'word1', 'word2')

In [49]:
tuple_2[0].append(5)
tuple_2

([2, 3, 4, 5], 'word1', 'word2')

In [50]:
del tuple_2[0]

TypeError: 'tuple' object doesn't support item deletion

In [51]:
list_1= [1,1]

tuple_2

([2, 3, 4, 5], 'word1', 'word2')

In [52]:
list_1

[1, 1]

In [53]:
list_1 = tuple_2[0]

In [54]:
list_1

[2, 3, 4, 5]

In [55]:
id(list_1), id(tuple_2[0])

(2549857630976, 2549857630976)

In [56]:
list_1 is tuple_2[0]

True

<h1 style="color:cornflowerblue">Objects Objects Objects</h1>
<p>Everything is a Object</p>

In [57]:
test = 1
test

1

In [59]:
type(test)

int

In [60]:
# listing all methods from the object
dir(test)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [61]:
list_2 = [1,2,3]
list_3 = [1,2,3]

list_2, list_3

([1, 2, 3], [1, 2, 3])

In [62]:
list_2 == list_3

True

In [63]:
list_2 is list_3

False

In [64]:
id(list_2), id(list_3)

(2549864091648, 2549864091136)

In [65]:
list_4 = list_2

list_4 is list_2

True

In [66]:
list_4.append(4)

list_4, list_2

([1, 2, 3, 4], [1, 2, 3, 4])

In [68]:
id(list_4), id(list_2)

(2549864091648, 2549864091648)

In [69]:
x = 4
y = 4

x, y

(4, 4)

In [70]:
x == y

True

In [71]:
x is y

True

In [72]:
id(x), id(y)

(140717392935448, 140717392935448)

In [73]:
x = 3
y = 3.0

x, y

(3, 3.0)

In [74]:
x == y

True

In [75]:
x is y

False

In [76]:
id(x), id(y)

(140717392935416, 2549863303920)

In [77]:
l1 = [1,1]

In [78]:
id(l1)

2549863860864

In [79]:
l2 = l1
id(l1), id(l2)

(2549863860864, 2549863860864)

In [80]:
l2 = l1.copy()
id(l1), id(l2)

(2549863860864, 2549863829120)

In [81]:
l2.append(2)
l1, l2

([1, 1], [1, 1, 2])

In [82]:
l3 = l1[:]
id(l1), id(l3)

(2549863860864, 2549863861696)